//COLORS
$color-background-one: #191419;
$color-background-two: #171217;
$color-primary-orange: #fea400; 


$color-primary-orange-darker: #b27300;

$color-default-white: #f0eeeb;
$color-white-brighter: #e9ecef;

$color-black:#000;
$color-default-black: #222;

$color-grey-middle: #555;
$color-grey-brighter:#999;
$color-grey-darker:#333;

$color-testimonials-tag-facebook: #ffd43b;
$color-testimonials-tag-google: #c0eb75;

$color-galery-shadow: #fea40066;
$color-testimonials-shadow: #070707;

//GRID
$width-header:140rem;
$width-galery:130rem;
$width-sections:120rem;




