/*  rem and em do NOT depend on html font-sez in media queries! 
    Instead, 1 rem = 1em = 16 px*/
  


    /*////////////////////////////////////////////////////////////////////
/*  Width 1456px   */



      /*////////////////////////////////////////////////////////////////////
/*  Width 1184px   */

@media (max-width:74em) {


  .grid {
    gap:6.4rem;
  }

  .main-nav-list {
    max-width: 115rem;
  }

  .hero {
    max-width:115rem;
  }


.galery-name-padding {
   padding-right: 3.2rem;
}

  .section-call-grid-container {
    max-width: 115rem;
  }

  .testimonials-cointainer {
    max-width: 114rem;

  }


  .section-contact-container{
    max-width: 115rem;
  }

  .galery {
    max-width:110rem;

  }

}





      /*////////////////////////////////////////////////////////////////////
/*  Width 1008px   */




      /*////////////////////////////////////////////////////////////////////
/*  Width 912px   */

@media (max-width:57em) {

.header {
  padding: 0 10rem;
}
 
    
 




    


  .hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
  }

  .hero-img-container {
    padding-top: 8.2rem;
  }
  .hero-img {
    display: block;
    margin:0 auto;
  }

  .hero-primary {
    font-size: 9.6rem;
  }

  .hero-description {
    font-size: 6.4rem;
  }

  .btn-reservation:link, .btn-reservation:visited {
    font-size: 2.4rem;
}

.grid--3-columns {
  grid-template-columns: 1fr;
  gap:2rem;

}

.order-three {
  
  padding-top: 2rem;
  grid-row:1;
  grid-column: 1;
}

.order-four {
  padding-top: 2rem;
  grid-row:4;
  grid-column: 1;
}

.serv-container {
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}

.services {
  padding-top: 0;
}

.serv-info {
  display: flex;
  justify-items: center;
  align-items: center;
  padding-left: 6.2rem;
  padding-right: 6.2rem;
}

.serv-descryption {
  font-size: 2rem;
}

/*///////////////////////////////////////////////////////////
// GALERY  */

.galery-item {
  width:30%;
  height: 30%;
  padding-left: 2rem;
  padding-right: 2rem;

}
.galery {
  gap:2rem;
}

.section-contact {
  padding-left: 2rem;
  padding-right: 2rem;
 }


}


      /*////////////////////////////////////////////////////////////////////
/*  Width 768px    */

@media (max-width:48em) {
  
  .header {
    padding: 0 2rem;
  }

 .hero {
  padding: 0 2rem;
 }

 .hero-img-container {
  padding-top: 3.2rem;
 }

 .call-header-text {
  font-size: 6.4rem;
  

 }

 .call-marketing-promo-text {
  font-size: 3.2rem;

 }

 .section-call {
  padding: 9.6rem 2rem;

 }



 .section-contact {
  


 }

 .section-contact-adress {

 }

 .google-maps-iframe {

}


}

      /*////////////////////////////////////////////////////////////////////
/*  Width 640px  For small phones    */

@media (max-width:40em) {
  
.hero-primary {
  font-size: 6.4rem;
}

.hero-description {
  font-size: 3.6rem;
}

.serv-info {
  font-size: 6.4rem;
}

.galery-name {
  font-size: 6.4rem;
}

.call-header-text {
  font-size: 4.4rem;
}

.call-marketing-promo-text {
  font-size: 2.4rem;
}

/*///////////////////////////
////////testimonials ////////////////*/


.testimonials{
  min-width: 75%;
  max-width:75%;
}


.galery-item {
  width: 45%;
  height: 45%;
  padding-left: 2rem;
  padding-right: 2rem;

}

.section-call-img {
  width:80%;
}

.btn-cta-facebook-messenger img,
.btn-cta-call img {
  display: block;
  margin:0 auto;

}

.btn-cta-facebook-messenger span,
.btn-cta-call span {
  line-height: 1.6;
}

.btn-cta-call:link, .btn-cta-call:visited, .btn-cta-facebook-messenger:link, .btn-cta-facebook-messenger:visited {
  padding: 1.2rem 5rem;
}

.section-call {
  padding-bottom: 2rem;
}

.section-testimonials {
  padding-top: 2rem;
}

.section-call-grid-container {
grid-template-columns: 1fr;
gap:6.4rem;
padding-bottom: 3.2rem;
}

.video-gif-container {
  width: 50vw;
 
}


.google-maps-iframe {
  width: 70rem;
  height: 50rem;
}
}



      /*////////////////////////////////////////////////////////////////////
/*  Width 550px  For small phones    */

@media (max-width:40em) {

  .google-maps-iframe {
    width: 90vw;
    /* height: 45rem; */
  }

}


      /*////////////////////////////////////////////////////////////////////
/*  Width 450px  For small phones    */

@media (max-width:40em) {




  .h2-hashtags {
    font-size: 2.8rem;
  }

  .serv-img {
    width: 40%;
  }

  .serv-info {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  .hero-section {
    padding-bottom: 2rem;
  }
  .galery {
    padding-bottom: 2rem;
  }

  .btn-cta-call:link, .btn-cta-call:visited, .btn-cta-facebook-messenger:link, .btn-cta-facebook-messenger:visited {
    padding: 0.6rem 2.5rem;
  }
  
}
