
    /* ****************************************************************/
    /* FOOTER  CONTACT*/
    /* ****************************************************************/
    .section-contact{
      
      background-color: $color-background-one;
      padding-bottom: 9.6rem;
      padding-left: 4rem;
      padding-right: 4rem;

   


       
      &-container {
        max-width: 120rem;
        margin:0 auto;
      
     
      }
    
      &-header {
        font-size:$font-h2;
        color:$color-default-white;
        margin: 0 auto;
      }
     
      
      &-flex-container{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin:0 auto;
        gap:3.4rem;
        
        @include respond(xl) {
          justify-content: flex-start;
        }
      }
      &-google-map {
        display:inline-block;
        margin:0 auto;
        // max-width:65%;

          @include respond(sm) {
            // max-width:65%;
            text-align: center;
          }
      }

      &-adress {
        width: 30%;
        margin:0 auto;
        display: block;

          @include respond(lg) {
            width: 80%;
          }
      }
    
    }
    
  
    
  .tag-adress {
    color:$color-primary-orange;
  }
  
    .adress {
      font-size: $font-hashtags-and-footer-adress;
      padding-top: 2.6rem;
      padding-bottom: 2.6rem;
      color:$color-grey-brighter;
      line-height: 1.6;
    }
  
  
    .section-call-location-icon{
      height: 6.4rem;
      vertical-align: middle;
      margin-right: 1rem;
      filter: invert(32%) sepia(11%) saturate(0%) hue-rotate(193deg) brightness(95%) contrast(88%);  
    }
  
    .google-maps-iframe {
      width: 65rem;
      height: 40rem;
      display: block;
      margin:0 auto;

      @include respond(big) {
        width: 55rem;
        height: 40rem;
      }

     
      @include respond(lg) {
        width: 80vw;
     
      }

      @include respond(xl) {
        //wycentrować ifrmae

      }

 
    }
  