
    /* ****************************************************************/
    /* FOOTER  CONTACT*/
    /* ****************************************************************/
    .section-contact{
      
      background-color: $color-background-one;
      padding-bottom: 9.6rem;
      padding-left: 4rem;
      padding-right: 4rem;

   


       
      &-container {
        max-width: 120rem;
        margin:0 auto;
      
     
      }
    
      &-header {
        font-size:6.2rem;
        color:$color-default-white;
        margin: 0 auto;
      }
     
      
      &-flex-container{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin:0 auto;
        gap:3.4rem;
        
      }
      &-google-map {
        margin:0 auto;
        max-width:65%
      }

      &-adress {
        width: 30%;
        margin:0 auto;
        display: block;
      }
    
    }
    
  
    
  .tag-adress {
    color:$color-primary-orange;
  }
  
    .adress {
      font-size: 3.6rem;
      padding-top: 2.6rem;
      padding-bottom: 2.6rem;
      color:$color-grey-brighter;
      line-height: 1.6;
    }
  
  
    .section-call-location-icon{
      height: 6.4rem;
      vertical-align: middle;
      margin-right: 1rem;
      filter: invert(32%) sepia(11%) saturate(0%) hue-rotate(193deg) brightness(95%) contrast(88%);  
    }
  
    .google-maps-iframe {
      width: 65rem;
      height: 40rem;

      @include respond(big) {
        width: 55rem;
        height: 40rem;
      }

    }
  