
.phone-call {
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
    color:$color-default-white;

    @include respond(big) {
      font-size: $font-menu-phone;
    }

  }


}


.header-container {
  background-color: $color-background-one;
  

 } 
 
 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:3.2rem;

    margin:0 auto;
    max-width: 200rem;
  
    height: 9.6rem;
    padding: 0 20rem;

    
     
     @include respond(xl) {
      padding:0 4rem;
     }

    &-name {
      font-size: 2.2rem;
      color:$color-default-white;
      
    }

    &-phone-icon {
      height: 2.8rem;
      vertical-align: middle;
      margin-right: 0.5rem;
      filter: invert(98%) sepia(65%) saturate(336%) hue-rotate(294deg) brightness(105%) contrast(88%);
    }

  }



.main-nav {

&-list {
  display: flex;
  align-items: center;
  gap:3.2rem;

  max-width: 140rem;

  list-style: none;

}

&-link:link, 
&-link:visited {
display: inline-block;
text-decoration: none;
font-size: $font-menu;
font-weight:500;
color:$color-grey-brighter;
transition: all 0.3s;
}


&-link:hover, 
&-link:active {
color:$color-primary-orange;
}


}

.nav-cta {
&:link,
&:visited {
  background-color:$color-primary-orange;
  color: $color-default-black;
  font-size: $font-buttons;
  font-weight:700;
  padding: 1.1rem 2.2rem;
  text-decoration:none;
  text-transform: uppercase;

  transition: all 0.3s;
}


&:hover,
&:active {

color:$color-black;
/* trick to add border inside */
box-shadow:0 0 0 3px $color-default-white;
}

}