
 //////////////////////////////////////////////////
 /// header  with desktop navigation

 .header {
  background-color: $color-background-one;
  position: fixed;
  left:0;
  top:0;
  width: 100vw;
  height: 9.6rem;
  z-index: 2;

     


              &-container {

              display: flex;
              justify-content: space-between;
              align-items: center;
             

              margin:0 auto;
              max-width: 200rem;

              height: 9.6rem;
              padding: 0 20rem;
              
              @include respond(xl) {
                gap:2rem;
                width: 100%;
                padding-left: 2rem;
                padding-right: 2rem;
              }

              @include respond(sm) {
                width: 100%;
                padding-left: 4rem;
                padding-right: 4rem;
              }

              &-name {
                font-size: 2.2rem;
                color:$color-default-white;
     


    
              &__phone-call{
                &:link,
                &:visited,
                &:hover,
                &:active {
                  text-decoration: none;
                  color:$color-default-white;

                  @include respond(big) {
                    font-size: $font-menu-phone;
                  }

                  @include respond (xl) {
             
                    font-size: calc(1.6rem + 0.25vw);
                  }

                  @include respond (sm) {
             
                    font-size: calc(2rem + 0.25vw);
                  }
                  
                }
              }
    }
  } 



    &-phone-icon {
      height: 2.8rem;
      vertical-align: middle;
      margin-right: 0.5rem;
      filter: invert(98%) sepia(65%) saturate(336%) hue-rotate(294deg) brightness(105%) contrast(88%);
    }





&-main-nav {

            &-list {
              display: flex;
              align-items: center;
              gap:3.2rem;
              max-width: 140rem;
              list-style: none;
              
                @include respond(sm) {

                  position: fixed;
                  left:-100%;
                  top: 50%;
                  transform: translate(0%, -50%);
                  height: 100vh;
                  gap:4rem;
                  padding-top: 2rem;
                  padding-bottom: 2rem;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  background-color: #262626;
                  width: 100%;
                  text-align: center;
                  transition: all 0.3s;
                  z-index: 100;



                }

            }

            &-link:link, 
            &-link:visited {
            display: inline-block;
            text-decoration: none;
            font-size: $font-menu;
            font-weight:500;
            color:$color-grey-brighter;
            transition: all 0.3s;
              
            span {
              display: none;
            }
            
   

            @include respond(sm) {
              font-size: 3rem;
              text-transform: uppercase;
              background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-default-white 50%);
              background-size: 240%;
              padding: 1rem 2rem;
              transition: all .4s;


              span {
                margin-right: 1.5rem;
                display: inline-block;
              }
          }
            }


            &-link:hover, 
            &-link:active {
            color:$color-primary-orange;

            
            @include respond(sm) {
              background-position: 100%;
              color:$color-default-black;
              transform: translateX(1rem);
            }
            
            }

            &-link_nav-cta {
              &:link,
              &:visited {
                background-color:$color-primary-orange;
                color: $color-default-black;
                font-size: $font-buttons;
                font-weight:700;
                padding: 1.2rem 2.4rem;
                text-decoration:none;
                text-transform: uppercase;
              
                transition: all 0.3s;

                @include respond(sm) {
                  font-size: 4rem;
                  font-weight: 400;
                }
              }
              
              
              &:hover,
              &:active {
              
              color:$color-black;
              /* trick to add border inside */
              box-shadow:0 0 0 3px $color-default-white;
              }
              
              }
            }



}



 //////////////////////////////////////////////////
 /// mobile navigation
 /// ///////////////////////////////////////////////
 

.menu-hamburger {
  display: none;
  cursor: pointer;


  @include respond(sm) {
    display: block;
    z-index: 100;

    &.active &__bar:nth-child(2) {
      opacity: 0;
    }
    &.active &__bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    &.active &__bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }



  }

   &__bar {
     display: block;
     width: 2.3rem;
     height: 3px;
     margin: 0.5rem auto;
     -webkit-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
     background-color:$color-default-white;
   

    }


}

.header-main-nav-list.active {
  left:0;
}