 /* ****************************************************************/
    /* SECTION cta call */
    /* ****************************************************************/
  
    .section-call{
      background-color:$color-background-one;
      padding-top: 12rem;
      padding-bottom: 9.6rem;
      padding-left: 4rem;
      padding-right: 4rem;

          @include respond(sm) {
            padding-bottom: 2rem;
          }
  
  
      &-grid-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap:2rem;
        justify-items: center;
        align-items: center;
        min-height: 27rem;
      
        max-width: $width-sections;
        margin:0 auto;

        @include respond(sm) {
          grid-template-columns: 1fr;
          gap:6.4rem;
          padding-bottom: 3.2rem;



        }
       }
  
       &-buttons-cta-container {
        display:flex;
        justify-content:space-between;
        align-items:center;
        gap:3.2rem;
        
      }

      &-phone-icon {
      
          height:$font-buttons;
          vertical-align: middle;
          margin-right: 1rem;
          filter: invert(16%) sepia(15%) saturate(0%) hue-rotate(163deg) brightness(109%) contrast(95%);
        
      
      }
      
      &-header-text {
        font-size: $font-cta-h2;
        color:$color-default-white;
        font-weight: bold;
      }
      &-marketing-promo-text {
        font-size: $font-hero-text;
        color: $color-grey-middle;
        font-weight: bold;
        padding-top: 6.2rem;
        padding-bottom: 4.6rem;
      }
  
  
      &-choose-text {
   
        font-size: $font-buttons;
        color:$color-grey-middle;
    
        font-weight:700;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
      }
      
        &-video-gif-cointainer {
          text-align: center;
          height: 100%;
          width: 100%;

          @include respond(sm) {
            width: 50vw;

          }
          
      
        }
      
        &-img {
          height: 100%;

            @include respond(sm) {
              width: 80%;
            }
          
        }
  
      }
  
      .btn-cta {
  
  
        &-call:link,
        &-call:visited,
        &-facebook-messenger:link,
        &-facebook-messenger:visited
        {
          background-color:$color-primary-orange;
          color: $color-default-black;
          font-size: $font-buttons;
          font-weight:700;
          padding: 1.2rem 2.4rem;
          text-decoration:none;
          text-transform: uppercase;
          /* border-radius:9px; */
          transition: all 0.3s;
        
        }
        
        &-call:hover,
        &-call:active,
        &-facebook-messenger:hover,
        &-facebook-messenger:active {
        color: $color-black;
        /* trick to add border inside */
        box-shadow:0 0 0 3px $color-default-white;
        
        }
        
  
      }
      
@include respond(xl) {
  
    .btn-cta-facebook-messenger img,
    .btn-cta-call img {
      display: block;
      margin:0 auto;

    }

    .btn-cta-facebook-messenger span,
    .btn-cta-call span {
      line-height: 1.6;
    }


    .btn-cta-call:link, .btn-cta-call:visited, .btn-cta-facebook-messenger:link, .btn-cta-facebook-messenger:visited {
      padding: 0.6rem 2.5rem;
    }

}
      
      