 
  /* ****************************************************************/
  /* SECTION GALLERY*/
  /* ****************************************************************/
  .section-galery {
    background-color: $color-background-one;

    padding-top:14rem;
    padding-bottom: 14rem;
    padding-left: 4rem;
    padding-right: 4rem;


    
    @include respond(sm) {
      padding-top: 6.2rem;
      padding-bottom: 6.2rem;
    }

      @include respond(sxs) {
        padding-top: 3.2rem;
        padding-bottom: 6.2rem;
      }


  }

  .galery-name {
      font-size:$font-h2;
      font-weight: 700;


      padding-bottom: 3.2rem;
      padding-left: 10vw;

      margin:0 auto;
      text-align: left;
      color:$color-default-white;
   }

.galery-instruction {
  display: inline-block;
  font-size:$font-menu;
  font-weight: 400;
  padding-bottom: 3.2rem;
  padding-left: 11vw;
 

  margin:0 auto;
  text-align: right;
  color:$color-default-white;

  color: orange;
  letter-spacing: 1.5px;


    @include respond (sm) {
      text-align:left;
    }
     
}


//GALERY FROM NET
* {
  box-sizing: border-box;
  position: relative;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

img { 
  max-width: 100%;
  height: auto;
  transform-origin: top left;
}


// #app {
//   padding-bottom: 330%;
// }

.gallery {

  display: flex;
  flex-flow:wrap;
  justify-content: center;
  align-content: space-between;
  overflow: hidden;
  gap:4rem;
  
  // height: 200vw; // Sized based on vw to expand properly


  
  .gallery-image {
    width: 15%;
    box-shadow: rgba($color-galery-shadow,.4) 5px 5px, rgba($color-galery-shadow,.3) 10px 10px, rgba($color-galery-shadow,.2) 15px 15px, rgba($color-galery-shadow,.1) 20px 20px, rgba($color-galery-shadow,.005) 25px 25px;
    
      @include respond (xl) {

        width: 20%;
      }

      @include respond (lg) {

        width: 25%;
      }
      @include respond (sm) {

        width: 40%;
      }
      @include respond (xs) {

        width: 80%;
      }
    
    
    
    
    &[data-flipping] {
      opacity: 1;
      z-index: 3;
    }
  }


  /* Re-order items into rows */
  .gallery-image:nth-child(3n+1) { order: 1; }
  .gallery-image:nth-child(3n+2) { order: 2; }
  .gallery-image:nth-child(3n+3) { order: 3; }

}

.gallery-image {
  margin: 0;
  display: block;
  position: relative;

  img {
    display: block;
    width: 100%;
  }
  
  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFF;
    text-shadow: 0 0 1px #000;
    opacity: 0.8;
    padding: 1em;
    text-align: left;
    transition: opacity .4s linear;
    font-family: monospace;
  }
  
  &:hover figcaption {
    opacity: 1;
  }
}

.detail {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(25,25,25,0);
  box-shadow: 0 0 30px #000;
  display: flex;
  pointer-events: none;
  transition: background .3s linear;

  .gallery-image {
    padding: 5vmin;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img { 
      width: auto;
      height: auto;
      max-width: 100%; 
      max-height: 100%; 
    }
    
    figcaption { display: none; }
    
  }
}

[data-state="detail"] .detail {
  // opacity: 1; 
  background: rgba(25,25,25,.85);
  pointer-events: auto;
  .gallery-image { opacity: 1; }
}

[data-state="gallery"] .detail {
  
  .gallery-image {
    opacity: 0;
    transition: none;
  }
}

/* ---------------------------------- */
body {
  background: black;
}

#app {
  pointer-events: none;
  
  .gallery .gallery-image {
    pointer-events: auto;
  }
}


.gallery-image {
  transition: opacity .5s linear;
  border:solid 2px #FFB224;
}

#app:hover .gallery {
  .gallery-image { opacity: 0.3; }
  
  .gallery-image[data-flipping],
  .gallery-image:hover { 
    opacity: 1;
    transition-duration: all .2s;
    cursor:zoom-in;
    
  }
}

