
  /* ****************************************************************/
  /* SECTION hashtags */
  /* ****************************************************************/

  .section-hashtags {
    background-color: $color-primary-orange-darker;
    padding-bottom:3.6rem;
    padding-top:3.6rem;
  
    &-container {
  
      width:100vw;
      margin:0 auto;
     
    }
  
  
    &-h2 {
  
      display:block;
     
      font-size: 3.6rem;
      line-height: 1.8;
      text-align: center;
      color: $color-white-brighter;
      letter-spacing: -0.75px;
      /* padding-left: 3.2rem; */
      
    
    }
  }
  
    
  