/* ****************************************************************/
  /* HERO SECTION*/
  /* ****************************************************************/
  


  .hero {

    max-width: $width-header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    margin:0 auto;
    min-height: 45vh;
    padding-top: 6rem;


    @include respond(xl) {
      padding-top:3.2rem;
      min-height: 30vh;
    }
  
    
      @include respond(sm) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap:5.2rem;
        padding-bottom: 3.2rem;
        padding-bottom: 2rem;
      }
 

  
      @include respond(sxs) {
        padding-top:3.2rem;
    
      }
    
    
    &-section {
    background-color: $color-background-one;
    /* padding:2.4rem; */
    padding-left:4rem;
    padding-right: 4rem;
    padding-bottom: 9.6rem;
    padding-top: 10rem;
    

      @include respond(sm) {
     
        padding-bottom: 0rem;
      }

  }

    

 

    &-descryption {
      padding-bottom: 2.4rem;
      font-weight: 500;
      line-height: 3.5rem;
      font-size: $font-hero-text;
      margin-bottom: 4.0rem;
      color:$color-grey-middle;

      @include respond(sm) {
        margin-bottom: 2.4rem;
      }

      @include respond(sxs) {
        line-height: 1.3;
      }
    }

    &-primary {
      font-size:$font-h1;
      font-weight: 700;
      line-height:1.05;
      color:$color-default-white;
      /* padding-left:8rem; */
      margin-bottom: 4.4rem;
      letter-spacing:-0.5px;

      @include respond(xl) {
        margin-bottom: 3.2rem;
      }

      
      @include respond(sm) {
        margin-bottom: 1.8rem;
      }
    
    }
      
    &-img {
      width:100%;
      opacity:0.8;
      border-radius: 15px;

      @include respond(xl) {

        margin-top: 3.2rem;
  
      }

        @include respond(sm) {
          display: block;
          margin:0 auto;
          margin-bottom: 2rem;
        }


        &-container {
      
          @include respond(xl) {
            margin-top:3.2rem;
   
          }

          @include respond(sxs) {
            margin-top:0;
   
          }


        }
  
      }

}


