 /* ****************************************************************/
  /* SECTION SERVICES*/
  /* ****************************************************************/


  .services {
    padding-top: 6.4rem;
    padding-bottom: 9.6rem;
    margin:0 auto;
    background-color: $color-background-two;
    color:$color-default-white;

    @include respond(xl) {
      padding-top: 0;
    }

    @include respond(sm) {
      padding-top: 0; 
    }

    @include respond(sxs) {
      padding-bottom: 2rem; 
    }

    &-line-separator {
      line-height: 1.5;
      background-color: $color-grey-middle;
      width: 40%;
      height: 1px;
   
    }

    
  &-number {
    /* padding:3.2rem; */
    font-size: $font-big-number;
    padding-bottom: 1.6rem;
    color:$color-grey-middle;
  }

  
  &-name {
    font-size: $font-title-description;
    letter-spacing: 0.9px;
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
    color:$color-primary-orange;
  
  }

  &-add-space{
    line-height: 2;
  }
  
  &-descryption {
    font-size: $font-text-p;
    letter-spacing: 1.5px;
    line-height: 1.5;
    color: $color-grey-brighter; 
    padding-bottom: 1.6rem;
  }
  
  &-info {
    padding-top:12rem;
    Font-size: $font-h2;
    font-weight: 700;
    text-align: center;   
    letter-spacing: .5px;
    

    @include respond(sm) {
        display: flex;
        justify-items: center;
        align-items: center;
        padding-left: 3.2rem;
        padding-right: 3.2rem;

      }
      @include respond(sxs) {

        padding-left: 1.2rem;
        padding-right: 1.2rem;
      }
    }
  
  
  &-img {
    padding-top: 6.4rem;
    width:85%;
    opacity:0.8;


 

  @include respond(xl) {
    display:block;
    width:24rem;
    margin:0 auto;
  }

  @include respond(lg) {

    // max-height: 30vh;
 
  }

  @include respond(sm) {
    width: auto;
    min-height: 35vh;
    max-height: 35vh;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 4rem;
  }



}
  


  @include respond(xl) {
    .cointainer {
      max-width: 115rem;
    }

    
  @include respond(sm) {
    .cointainer {
      max-width: 100%;
    }
  }
  
  
    .order-three {
      grid-row:1;
      grid-column: 2;

      @include respond (sm) {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      @include respond(sxs) {

        flex-wrap: wrap;
        gap:0;
        
    
      }
    }


    .order-four {
      grid-row:3;
      grid-column: 1;

      @include respond(sxs) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: rows;
        flex-wrap: wrap;
        gap:0;

      }
    }

  }

    @include respond(sm) {
      .cointainer {
        padding-left: 3.2rem;
       padding-right: 3.2rem;
      }
    
          .order-three {
            
            padding-top: 2rem;
            grid-row:1;
            grid-column: 1;
          }

          .order-four {
            padding-top: 2rem;
            grid-row:4;
            grid-column: 1;
          }

  }

}
  