 /* ****************************************************************/
    /* SECTION testimonials*/
    /* ****************************************************************/
    
    .section-testimonials {
    
      
      background-color:$color-background-one;
      padding-bottom: 18rem;
      padding-top: 14rem;
   
      margin:0 auto;

      @include respond(sm) {

          padding-top: 4rem;
          padding-bottom: 4rem;
      }
     
    }
  

  
    .testimonials {
      display:flex;
      flex-direction:column;
      justify-content: flex-start;
      align-items: center;
  
  
      font-size: $font-testimonials-text;
      line-height: 1.5;
      letter-spacing: 0.3px;
      min-height: 35rem;

      color:$color-grey-brighter;
  
      border: calc(1rem + 0.1vw) solid transparent;
      box-shadow: 0 0 3px 3px rgba($color-testimonials-shadow, .5);
      border-radius: 9px;

      border-radius: 1rem;
      background-color:  #242424;

      //background-color: #E4AA3F;
      transition: 0.4s all;

        &:hover {
          transform: scale(1.05);
          transform: translateY(-0.5rem);
        }

        @include respond(xl) {
          min-width: 30%;
          max-width: 30%;
   
        }

        @include respond(lg) {
          min-width: 45%;
          max-width: 45%;
          min-height: 30rem;

        }

        @include respond(sm) {
          min-width: 95%;
          max-width: 95%;
        }


  
      &-cointainer {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(4,1fr);
        row-gap:3.6rem;
        column-gap: 3.6rem;
        padding-top: 2.4rem;
        padding-left: 4rem;
        padding-right: 4rem;
        max-width: $width-header;



          @include respond(xl) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            margin:0 auto;
      
            justify-content: center;
             align-content: center;

             padding-left: 1rem;
             padding-right: 1rem;

          }
    }


    &-tag-facebook{


    
      background-color: $color-testimonials-tag-facebook;
      color: $color-grey-darker;
      //background-color: #fff;
      color: #0e0f11;
      padding: 0.1rem;
      width:11rem;
      text-align: center;
      border-radius: 9px;
      margin-left:2rem;
      margin-top:2.4rem;
      margin-bottom:2rem;
      align-self: flex-start;
      text-transform: uppercase;
      font-size: $font-testimonials-tags;

    }
  
    &-tag-google {
      background-color: $color-testimonials-tag-google;
      color:$color-grey-darker;
      background-color: #F6E3C1;
      color: #0e0f11;

      padding: 0.1rem;
      width:11rem;
      text-align: center;
      border-radius: 9px;
      margin-left:2rem;
      margin-top:2.4rem;
      margin-bottom:2rem;
      align-self: flex-start;
      text-transform: uppercase;
      font-size: $font-testimonials-tags;
    }
  
  
    &-text{
      padding-left:2rem;
      padding-right:2rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      letter-spacing: 0.3px;
      line-height: 1.5;
      font-size: $font-text-p;
    }
  
    &-number-three{
      align-self: flex-start;
    }
  
    &-person-name{
      padding-top: 2.4rem;
  
      padding-left:3rem;
      font-size: $font-text-p;
      line-height: 1.3;
      color:#D1D1D1;
      align-self: flex-start;
      font-weight: bold;

  
    }
  
    }
  
  
  
