

*,
*::after,
*::before {
  margin:0;
  padding:0;
  box-sizing: inherit;
  }
  
  html,body{
    overflow-x: hidden;
  }

  html {
  /* font-size:10px
   10px / 16 px = 0.625=62.5%
   Precetage of user's browser font-size setting
  */
  font-size: 62.5%;
  width: 100vw;
  }
  
  body {
    //wrapper

    box-sizing: border-box;
    color:$color-grey-middle;
  }

  .wrapper {
    margin-right: 2rem;
    margin-left:  2rem;
  }