 /* ****************************************************************/
  /* HERO SECTION*/
  /* ****************************************************************/
  


  .hero {

    max-width: 140rem;
    margin:0 auto;
    display: grid;
    gap:6.4rem;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    
    &-section {
    background-color: $color-background-one;
    /* padding:2.4rem; */
    padding-bottom: 9.6rem;
    padding-top: 6.4rem;}

 

    &-descryption {
      padding-bottom: 2.4rem;
      font-weight: 500;
      line-height: 3.5rem;
       font-size: 3.0rem;
       margin-bottom: 4.0rem;
       color:$color-grey-brighter;
       /* padding-left:8rem; */
    }

    &-primary {
      font-size:6rem;
      font-weight: 700;
      line-height:1.05;
      color:$color-default-white;
      /* padding-left:8rem; */
      margin-bottom: 6.4rem;
      letter-spacing:-0.5px;
      }
      
    &-img {
      width:100%;
      opacity:0.8;
      border-radius: 15px;
    }
  


}



  /* ****************************************************************/
  /* SECTION SERVICES*/
  /* ****************************************************************/
  .services {
    padding-top: 6.4rem;
    padding-bottom: 9.6rem;
    margin:0 auto;
    background-color: $color-background-two;
    color:$color-default-white;

    &-line-separator {
      line-height: 1.5;
      background-color: $color-grey-middle;
      width: 40%;
      height: 1px;
   
    }

    
  &-number {
    /* padding:3.2rem; */
    font-size: 8.6rem;
    padding-bottom: 1.6rem;
    color:$color-grey-middle;
  }

  
  &-name {
    font-size: 3.6rem;
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
    color:$color-primary-orange;
  
  }

  &-add-space{
    line-height: 2;
  }
  
  &-descryption {
    font-size: 1.4rem;
    letter-spacing: 1.5px;
    line-height: 1.5;
    color: $color-grey-brighter; 
    padding-bottom: 1.6rem;
  }
  
  &-info {
    padding-top:12rem;
    Font-size: 7.4rem;
    font-weight: 700;
    text-align: center;    
  }
  
  &-img {
    padding-top: 6.4rem;
    width:85%;
    opacity:0.8;
  }
  
    
  }
  
  
  
  
  /* ****************************************************************/
  /* SECTION GALLERY*/
  /* ****************************************************************/
  .section-galery {
    background-color: $color-background-one;

    padding-top:4.8rem;
    padding-bottom: 6.4rem;
  }




  .line-separator {
    width:40%;
    float:right;
    margin-right:22rem;
    /* margin:0 auto; */
    color: $color-grey-darker;

  }


  .galery {


    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding-top:3.2rem;
    padding-bottom: 9.6rem;
    gap:4.8rem;

    justify-content:center;
    align-content: center;
    max-width: 130rem;
    margin:0 auto;


    &-name-padding {
      padding-bottom: 1.6rem;
    }
  
    
    &-item {
      overflow: hidden;
    }

    &-item img {
    /* width: 100%; */
    max-height: 20rem;
    transition: all 0.4s;
    background-size: cover;
    background-position: center;
    box-shadow: rgba($color-galery-shadow,.4) 5px 5px, rgba($color-galery-shadow,.3) 10px 10px, rgba($color-galery-shadow,.2) 15px 15px, rgba($color-galery-shadow,.1) 20px 20px, rgba($color-galery-shadow,.005) 25px 25px;
    }


    &-item img:hover,
    &-irem img:active {

      transform: scale(1.05);
      filter: brightness(120%);
      
  
}

    &-name {
      font-size:7.4rem;
      font-weight: 700;
      max-width:130rem;

      padding-bottom: 3.2rem;

      margin:0 auto;
      text-align: right;
      color:$color-default-white;

    }
  }

  /* ****************************************************************/
  /* SECTION hashtags */
  /* ****************************************************************/

  .section-hashtags {
    background-color: $color-primary-orange-darker;
    padding-bottom:3.6rem;
    padding-top:3.6rem;
  
    &-container {
  
      width:100vw;
      margin:0 auto;
     
    }
  
  
    &-h2 {
  
      display:block;
     
      font-size: 3.6rem;
      line-height: 1.8;
      text-align: center;
      color: $color-white-brighter;
      letter-spacing: -0.75px;
      /* padding-left: 3.2rem; */
      
    
    }
  }
  
    
  
  
    /* ****************************************************************/
    /* SECTION cta call */
    /* ****************************************************************/
  
    .section-call{
      background-color:$color-background-one;
      padding-top: 18rem;
      padding-bottom: 9.6rem;
  
  
      &-grid-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap:2rem;
        justify-items: center;
        align-items: center;
        min-height: 27rem;
      
        max-width: 120rem;
        margin:0 auto;
       }
  
       &-buttons-cta-container {
        display:flex;
        justify-content:center;
        align-items:center;
        gap:3.2rem;
      }
      
      &-header-text {
        font-size: 7.4rem;
        color:$color-default-white;
        font-weight: bold;
      }
      &-marketing-promo-text {
        font-size: 3.2rem;
        color: $color-grey-middle;
        font-weight: bold;
        padding-top: 3.2rem;
        padding-bottom: 4.6rem;
      }
  
  
      &-choose-text {
   
        font-size: 2.8rem;
        color:$color-grey-middle;
    
        font-weight:700;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
      }
      
        &-video-gif-cointainer {
          text-align: center;
          height: 100%;
          width: 100%;
          
      
        }
      
        &-img {
          height: 100%;
          
        }
  
      }
  
      .btn-cta {
  
  
        &-call:link,
        &-call:visited,
        &-facebook-messenger:link,
        &-facebook-messenger:visited
        {
          background-color:$color-primary-orange;
          color: $color-default-black;
          font-size: 2rem;
          font-weight:700;
          padding: 1.6rem 3.2rem;
          text-decoration:none;
          text-transform: uppercase;
          /* border-radius:9px; */
          transition: all 0.3s;
        
        }
        
        &-call:hover,
        &-call:active,
        &-facebook-messenger:hover,
        &-facebook-messenger:active {
        color: $color-black;
        /* trick to add border inside */
        box-shadow:0 0 0 3px $color-default-white;
        
        }
        
  
      }
      
      
      
      
        
    /* ****************************************************************/
    /* SECTION testimonials*/
    /* ****************************************************************/
    
    .section-testimonials {
    
      
      background-color:$color-background-one;
      padding-bottom: 9.6rem;
      padding-top: 4.8rem;
     
    }
  
  
    // .span-testimonials {
    //   display: block;
   
    //   font-size: 3.2rem;
    //   padding-top: 3.6rem;
    //   color:$color-grey-middle;
    //   font-weight: 700;
    //   padding-left: 3.2rem;
   
    // }
  
    .testimonials {
      display:flex;
      flex-direction:column;
      justify-content: flex-start;
      align-items: center;
  
  
      font-size: 1.6rem;
      line-height: 1.6;
      letter-spacing: 0.75px;
      min-height: 32rem;
      
      margin: 0.5rem;
      color:$color-grey-brighter;
  
      border: calc(1rem + 0.1vw) solid transparent;
      box-shadow: 0 0 3px 3px rgba($color-testimonials-shadow, .5);
      border-radius: 9px;
  
      &-cointainer {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        row-gap:3.6rem;
        column-gap: 3.6rem;
        padding-top: 2.4rem;
        max-width: 140rem;
    }
    &-tag-facebook{
      background-color: $color-testimonials-tag-facebook;
      color: $color-grey-darker;
      padding: 0.1rem;
      width:11rem;
      text-align: center;
      border-radius: 9px;
      margin-left:2rem;
      margin-top:2.4rem;
      margin-bottom:2rem;
      align-self: flex-start;
      text-transform: uppercase;
      font-size: 1.4rem;
    
    }
  
    &-tag-google {
      background-color: $color-testimonials-tag-google;
      color:$color-grey-darker;
      padding: 0.1rem;
      width:11rem;
      text-align: center;
      border-radius: 9px;
      margin-left:2rem;
      margin-top:2.4rem;
      margin-bottom:2rem;
      align-self: flex-start;
      text-transform: uppercase;
      font-size: 1.4rem;
    }
  
  
    &-text{
      padding-left:2rem;
      padding-right:2rem;
    }
  
    &-number-three{
      align-self: flex-start;
    }
  
    &-person-name{
      padding-top: 2.4rem;
  
      padding-left:3rem;
      font-size: 1.6rem;
      line-height: 1;
      color:$color-grey-middle;
      align-self: flex-start;
      font-weight: bold;
    }
  
    }
  
  
   
  
    
    .testimonials-btn-facebook {
  
      display: flex;
      justify-content: center;
      align-items: center;
  
    }
    .btn-facebook-galery-link {
  
      margin:3.2rem;
      
    }
  
    .section-call-phone-icon {
      height: 2.0rem;
      vertical-align: middle;
      margin-right: 1rem;
      filter: invert(16%) sepia(15%) saturate(0%) hue-rotate(163deg) brightness(109%) contrast(95%);
    }
  
  
    /* ****************************************************************/
    /* FOOTER  CONTACT*/
    /* ****************************************************************/
    .section-contact{
      
      background-color: $color-background-one;
      padding-bottom: 9.6rem;
       
      &-container {
     
        max-width: 120rem;
        margin:0 auto;
      
     
      }
    
      &-header {
        font-size:6.2rem;
        color:$color-default-white;
        margin: 0 auto;
      }
     
      
      &-grid-container{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin:0 auto;
       
        gap:3.4rem;
        
      }
      &-google-map {
        margin:0 auto;
      }
    
    }
    
  
    
  .tag-adress {
    color:$color-primary-orange;
  }
  
    .adress {
      font-size: 3.6rem;
      padding-top: 2.6rem;
      padding-bottom: 2.6rem;
      color:$color-grey-brighter;
      line-height: 1.6;
    }
  
  
    .section-call-location-icon{
      height: 6.4rem;
      vertical-align: middle;
      margin-right: 1rem;
      filter: invert(32%) sepia(11%) saturate(0%) hue-rotate(193deg) brightness(95%) contrast(88%);  
    }
  
    .google-maps-iframe {
      width: 60rem;
      height: 35rem;
    }
  